@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.command-suggestions {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #1F2937;
}

.command-suggestions::-webkit-scrollbar {
  width: 8px;
}

.command-suggestions::-webkit-scrollbar-track {
  background: #1F2937;
}

.command-suggestions::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 4px;
}
